main {
    padding: 4em;
    background-color: #212A31; 
}

.certification-marquee {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #748D92;  
    border-bottom: 1px solid #D3D9D4;  
    background-color: #2E3944; 
}

.marquee-track {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 3em;
    align-items: center;
    padding: 2em;
}

.marquee-track img {
    height: 500px;
    flex-shrink: 0;
    filter: drop-shadow(0 0 5px #124E66); 
    transition: transform 0.3s;
}

.marquee-track img:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .page-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        padding: 2em 1em;
        flex: 1;
    }

    .marquee-track {
        gap: 1em;
        padding: 1em;
    }

    .marquee-track img {
        max-height: 550px;
        max-width: 80vw;
        max-width: 500px;
    }

    footer {
        padding: 1.5em 1em;
    }
}
